body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #e2e8f0;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 40px;
    box-shadow: 10px 10px 10px #cbd5e1;
    margin-bottom: 30px;;
}

.container {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.container > button,
form > button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px #cbd5e1;
    background-color: #64748b;
    font-size: 18px;
    color: white;
    align-self: center;
    width: 300px;
}

button:hover {
    background-color: #475569;
}

button:active {
    background-color: #94a3b8;
}

#add {
    display: block;
}

form > button {
    padding: 10px 20px;
    width: 200px;
}

#submit {
    justify-self: right;
}

form {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 70%;
    align-self: center;
}

form > label {
    justify-self: right;
}

form > input{
    justify-self: left;
}

input[type="text"],
input[type="tel"] {
    width: 300px;
}

.library {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid black;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 35px 1fr 40px 40px 20px;
}

.card > button:first-child {
    width: 35px;
    height: 35px;
    border: none;
    background-color: white;
    justify-self: right;
    position: relative;
    left: 20px;
}

.card > button:hover {
    opacity: 0.6;
}

.card > button:last-of-type {
    border: none;
    background-color: #94a3b8;
    color: white;
    box-shadow: 3px 3px 3px #cbd5e1;
    border-radius: 10px;
}